body{
    background-image: url(pt4.png);
    background-repeat:repeat;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 14pt;
    color: #151B54;
}
h1{
    background-color: #151B54;
    font-family: Verdana, Arial, sans-serif;
    font-size: 28pt;
    color: white;
    letter-spacing: 2px;
    padding: 20px;
    margin: 0px 600px auto 0px;
}
h2{
    font-family: Verdana, Arial, sans-serif;
    font-size: 22pt;
    color: #151B54;
    font-weight: bold;
}
h3{
    font-family: Verdana, Arial, sans-serif;
    font-size: 16pt;
    color: #595454;
    font-weight: bold;
}
.nero{
    font-family: Arial, sans-serif;
    color: black;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
}
ol{
    list-style-type: lower-alpha;
}
table{
    width: 80%;
    border: 1px solid #151B54;
    font-size: 16pt;
    line-height: 1.25;
    margin:15px auto;
}
.testata{
    background-color: #151B54;
    color: #CFECEC;
    height: 80px;
}
.uno{
    height: 50px;
}
.due{
    background-color: #CFECEC;
    height: 50px;
}
a:visited, a:link{
    color: red;
    text-decoration: none;
    font-weight: bold;
}